[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "codeCollection"]
	path = codeCollection
	url = https://github.com/cran/codeCollection
[submodule "cohorttools"]
	path = cohorttools
	url = https://github.com/cran/cohorttools
[submodule "shinyPredict"]
	path = shinyPredict
	url = https://github.com/cran/shinyPredict
